*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.navbar{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

nav{
    margin-right: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: auto;
}

.navbar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.navbar-logo-img{
    width: 44px;
    height: 43px;
}
.navbar-btn{
    padding: 14px 30px; 
    background-color: #dc780b;
    border: none;
    border-radius: 5px;
    color: white;
}

.banner-text h2{
    font-size: 49px;
    font-weight: 700;
    line-height: 57px;
    width: 555px;
    font-family: "Philosopher";
    margin-bottom: 42px;
    color: #150c01;
}

.banner-text p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    width: 555px;
    font-family: "Roboto";
    margin-bottom: 50px;
}

.banner-btn,
.banner-btn-secondary{
    padding: 21px 40px;
    background-color: #dc780b;
    border: none;
    
}