*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-top: 20px;
}

.card-2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-2 p{
    margin-top: 20px;
    width: 200px;
    width: 200px;
}

.card{
    display: flex;
    align-items: center;
    
}

